
@{
    ViewBag.Title = "Hata";
}
<section id="content">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-sm-12">
                <div class="error_page">
                    <img class="wow shake" src="~/Content/admin/img/error-img.png" alt="">
                    <p><span>Aman tanrım.....</span>Beklenmedik bir hata oluştu!</p>
                    <a href="/Home/Index">Anasayfa</a>
                </div>
            </div>
        </div>
    </div>
</section>